{% extends 'base.html.twig' %}

{% block title %}Roazhon Stats{% endblock %}

{% block body %}

<link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
<link rel="icon" type="image" href="{{ asset('img/favicon.ico') }}" />


<div class="example-wrapper">
    <div>
        <h1 class="h11"> SRFC Squad </h1>
    </div>

    <div>
        {% for t in tab %}
            <div class="playerPicture">
                <a class="aComponentPlayer" href='{{ t[1] }}'>
                    <img class="imgComponentPlayer" src='{{ t[0] }}'><br/>
                    <span class="spanComponentPlayer">{{ t[2] }}</span>
                </a>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
