{% extends 'base.html.twig' %}

{% block title %}Roazhon Stats{% endblock %}

{% block body %}

<link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
<link rel="icon" type="image" href="{{ asset('img/favicon.ico') }}" />


<div class="example-wrapper">
    <div>
        <h1 class="h11"> SRFC Squad </h1>
    </div>

    <div>
        {% set i = 0 %}
        {% for p in players %}
            <div class="playerPicture">
                <a class="aComponentPlayer" href='#'>
                    <img class="imgComponentPlayer" src='{{ p.image }}'><br/>
                    <span class="spanComponentPlayer">{{ p.firstname }} {{ p.lastname }}</span>
                </a>
            </div>
            {% set i = i + 1 %}
        {% endfor %}
    </div>

</div>
{% endblock %}
