{% extends 'base.html.twig' %}

{% block title %}{{player.firstname}} {{player.lastname}}{% endblock %}

{% block body %}

<link href="{{ asset('css/player_view_styles.css') }}" rel="stylesheet"/>
<link rel="icon" type="image" href="{{ asset('img/favicon.ico') }}" />

<div class="thegrid">
    <div class="wrapper">
        <div id="photoDiv">
            <img src='{{ player.image }}'><br/>
        </div>
        <div class="gauche">
        <h1> {{player.number}}. {{player.firstname}} {{player.lastname}} </h1> 
        <h3> {{player.poste}} </h2> 
            <h3> {{player.nationality}} - age ans ({{player.birthdate |date("d/m/Y")}}) </h3>    
            <h3> taille </h3>
            <h3> Expiration du contrat : contrat </h3>
        </div>
    </div>
    <div class="griddroite">
        <div class="tableau">
            <table>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Team</th>
                        <th>Apps</th>
                        <th>Goals</th>
                        <th>Assists</th>
                    </tr>
                </thead>
                <tbody>
                    {% set tApp = 0 %}
                    {% set tGoals = 0 %}
                    {% set tAssists = 0 %}
                    {% for t in player.statistics %}
                        <tr>
                            <td>{{t.season}}</td>
                            <td>{{t.club}}</td>
                            <td>{{t.appearances}}</td>
                            <td>{{t.goals}}</td>
                            <td>{{t.assists}}</td>
                        </tr>
                        {% set tApp = tApp + t.appearances %}
                        {% set tGoals = tGoals + t.goals %}
                        {% set tAssists = tAssists + t.assists %}
                    {% endfor %}
                        <tr>
                            <td>Total</td>
                            <td></td>
                            <td>{{tApp}}</td>
                            <td>{{tGoals}}</td>
                            <td>{{tAssists}}</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}